*how  to  read  the  strings*

In [1]:
# single quotes
string1='python'
string1

'python'

In [2]:
#double quotes
string1="good morning"
string1

'good morning'

In [3]:
#triple quote also no as doc string
string1="""hello"""
string1

'hello'

In [1]:
# the main purpose of using triple quotes in python is to create mutli-line strings and doc strings
# the highlite of the quote 
string2='hello "python"'
print(string2)

hello "python"

$type$

In [5]:
type(string2)

str

$len$

In [6]:
# len function returns the number of characters in the string
    
string3='hi good morning'
len(string3)

15

$max-min$

In [9]:
#the highest value of a function is considered the max
#the lowest value of the function is considered the min
string1='Aa'
print(max(string1))
print(min(string1))

a
A

$ord-chr$

In [10]:
#
ord('m')         #it will provide ascii value of chr

109

In [11]:
ord('m'),ord('o'),ord('r'),ord('n'),ord('i'),ord('n'),ord('g')

(109, 111, 114, 110, 105, 110, 103)

In [12]:
chr(109),chr(111),chr(114),chr(110),chr(105),chr(110),chr(103)      #it will provide ascii character of ord

('m', 'o', 'r', 'n', 'i', 'n', 'g')

**addition of two strings**

In [14]:
# adding the two strings is called as concentation
str1='hello'
str2=' good morning'
str1+str2

'hello good morning'

**subraction**

In [17]:
str3=755        # str3 
str4=300
str3-str4

455

**multiplication**

In [19]:
str1=99
str2=33
str1*str2

3267

*division*

In [2]:
str1=23
str2=33
str1/str2

0.696969696969697

*in operator(for loop)*

In [4]:
# in operator the string all sentence will use in operator
string1='hai how are you,im fine.'
count=0
for i in string1:
    if i in 'aieou':
        count=count+1
        
print(count)

10

*index*

In [17]:
string1='hello python'              # the index is  the string character find value of word will use the index
print(string1.index('o'))
print(string1.index('y'))
print(string1.index('n'))

4
7
11

*mutable condition*

In [5]:
 string1=[100,200,300,'apple']                                 # mutable ==== we can chang                                 
string1

[100, 200, 300, 'apple']

In [9]:
string1=('welcome')                          #immutable ===== we can not change the value by using index operations
string1[2]='L'

TypeError: 'str' object does not support item assignment

$slice$

In [25]:
string1='good morning python'
print(string1[1:10:2])        # it works 
print(string1[1:10:-2])       # not works

odmri

*strings method*

In [ ]:
import <package_name>
dir(<package_name>)
help(<package_name>.<method_name>)

#first we have to import the package name 
#while dir package will display the name of methods
#help ,package name,method name, have to write like this

$capitalize$

In [10]:
string1='nallagoni omkar'              #the capitalize change the string into captial for the frist letter
string1.capitalize()

'Nallagoni omkar'

$upper$

In [11]:
string1='nareshit'                  #the upper case change the string into all captial letters
string1.upper()

'NARESHIT'

$lower$

In [12]:
string1='NALLAGONI omkar'                #the lower case change the string into small letters
string1.lower()

'nallagoni omkar'

*case fold*

In [13]:
string2='RAM pOtHiNANI'                   #casefold : Case less comparision( lower case)
string2.casefold()

'ram pothinani'

*index/find*

In [3]:
string1='nallagoni omkar'             #the index find string value of the word
print(string1.index('g'))
print(string1.index('m'))



string2='desu harshini'                #if substring not found it returns -1
print(string2.find('z'))
print(string2.find('i'))

5
11
-1
10

$count$

In [5]:
string1='good morning hi how are you'      #the count the string what we represent letter it will count the word.
count=0
for i in string1:
    if i=='o':
        count+=1
print(count)

5

$replace$

In [9]:
string2='nallagoni omkar'                          #the replace is change the word what we represent in string.
print(string2.replace('m','&',4))


string2[::-1].replace('a','$')[::-1]

nallagoni o&kar

'n$ll$goni omk$r'

*lstrip/rstrip/strip*

In [10]:
str1=' good morning '                #if you want to remove the spaces both side use strip method
str2=' good morning'               #if you want to remove the spaces only left side then use Lstrip.
str3='good morning '               #if you want to remove the spaces only right side then use rstrip.


print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())               # the strip remove the space between the string

good morning
good morning
good morning

In [11]:
str1.strip()

'good morning'

In [12]:
str2.lstrip()

'good morning'

In [13]:
str3.rstrip()

'good morning'

*startswith/endswith*

In [19]:
str1='I am harshini hi how are you'         #the startswith is start the word we represent the frist letter is true or false.
print(str1.startswith('i'))
str1.startswith('I')

False

True

In [20]:
print(str1.endswith('you'))              # the endswith is ends word we represent the last letter is true or false.
str1.endswith('are')

True

False

*isalpha/isnumeric/isalnum*

In [3]:
str1='abc'
str2='123'                               # the isalpha is the word is true or false
str3="harshini123"                           # the isnumeric the number is true or false
print(str1.isalpha())                    #the isalnum  also true or false.
print(str1.isnumeric())
print(str2.isalnum())
print(str2.isnumeric())
print(str3.isalnum())
str1.isalnum()

True
False
True
True
True

True

*split*

In [29]:
str1='hello good morning'
str1.split()                                 # the split method use the word sperate the word of the str1.

['hello', 'good', 'morning']

In [30]:
str1.split('o')

['hell', ' g', '', 'd m', 'rning']